<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <main class="page">
        <section class="content">
          <h1 class="content-title">Erreur</h1>
          <p class="content-desc"><%= message %></p>
          <footer class="content-action">
            <a class="content-link" href="/">Retour à l'accueil</a>
          </footer>
        </section>
      </main>
</body>
</html>