<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>KinoMatch</h1>
        <div><a href="/signup">SignUp</a></div>
        <div><a href="/login">Login</a></div></header>
    <main> 
        <h2>Genre</h2>
        <h2>Décennie</h2>
        <h2>Nationalité</h2>
    </main>
   
    <footer>
        <div><a href="/film">Go Film</a></div>  
    </footer>

</body>
</html>