<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription</title>
</head>
<body>
<main class="page">
  <section class="content">
    <h1 class="content-title">Inscription</h1>
    <% if(typeof error !== 'undefined') { %>
      <p><%= error %></p>
    <% } %>
    

    <form class="search" action="/signup" method="POST">

      <div class="search-row">
        <label for="email">Votre courriel</label>
          <input type="email" id="email" name="email"
              placeholder="Votre courriel"
              <% if(typeof data !== 'undefined' && data.email) { %>
                value="<%= data.email %>"
              <% } %>    
          >
      </div>

      <div class="search-row">
        <label for="password">Votre mot de mot de passe</label>
          <input type="password" id="password" name="password"
              placeholder="Votre mot de mot de passe">
      </div>


      <div class="search-row">
        <label for="passwordConfirm">Confirmez votre mot de passe</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirmez votre mot de passe">
      </div>

        <button type="submit">Envoyer</button>
    </form>
    <a href="/">Home</a>
  </section>
</main>

</body>
</html>